{% extends "layouts/base.html" %}

<!-- title here -->
{% block title %}
    User | Dashboard
{% endblock %}

<!-- custom css -->
{% block custom_css %}
<style>
    body {
        color: white;
    }
</style>
{% endblock %}

<!-- body content -->
{% block body_content %}
<div class="container-lg">
    <h1>{{ welcome_msg }}</h1>
    <img src="/static/images/test.jpg" alt="">
</div>
{% endblock %}

<!-- custom js -->
{% load static %}
{% block custom_js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}

